.about-page{
    background: #EDEBEB;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0; /* 바깥 여백을 없애기 위해 설정 */
    padding: 0; /* 안쪽 여백도 없애기 위해 설정 */
    overflow: hidden; /* 내용이 화면을 벗어나지 않도록 설정 */
}



.link-box{
    position: relative;
}

.link-box .Group19{
    width: 752px;
    height: 626px;
    flex-shrink: 0;

    margin-top: 84px;
}

.overlay-title {
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: absolute; 
    top: 164px; 
    left: 315px;
    font-family: "DNFBitBit";
  }

.insta-img{
    position: absolute; 
    top: 273px; 
    left: 325px;
    cursor: pointer;

    width: 99px;
    height: 99px;
    flex-shrink: 0;
}

.insta-text{
    position: absolute; 
    color: #000;
    font-family: "PretendardVariable";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;

    top: 364px; 
    left:261px;
}

.linktree-img{
    position: absolute; 
    width: 1%;
    top: 505px;
    left: 332px;
    cursor: pointer;

    width: 88px;
    height: 107px;
    flex-shrink: 0;
}

.linktree-text{
    position: absolute; 
    color: #000;
    font-family: "PretendardVariable";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    top: 604px;
    left: 252px;
}

.clickicon{
    position: absolute; 

    width: 106px;
    height: 108px;
    flex-shrink: 0;

    right: 200px;
    top: 330px;
}


.credit{
     margin-top: 20px;
     display: flex;
     flex-direction: column; 
     align-items: center; 
     text-align: center; 
     height: 100vh; 
   }

.credit .title
{
    color: #000;
    font-family: "Galmuri9";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 100px;
}
   

.credit .sub-title{
    color: #000;
    text-align: center;
    font-family: "PretendardVariable";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.96px;
    margin-top: 50px;
}
   
.credit .sub-heading{
    color: #000;
    text-align: center;
    font-family: "PretendardVariable";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top:30px;
}
   
.credit .name{
    color: #000;
    text-align: center;
    font-family: "PretendardVariable";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
   

.source{
    color: #8D8D8D;
    text-align: center;
    font-family: "PretendardVariable";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 130px;
}
.about-page .footer-bg{
    width: 2000px;
}