* {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.main {
  font-family: "PretendardVariable";
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 88px;
  margin-bottom: 200px;
}

.main-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 42.96px;
  text-align: center;
  margin-bottom: 89px;
}

.not-apply {
  height: 100%;
}

.not-apply-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 200px;
  align-items: center;
}

.not-apply-text {
  text-align: center;
  font-family: "PretendardVariable";
  font-size: 40px;
  font-weight: 600;
  line-height: 47.73px;
}

.not-apply-btn {
  font-family: "PretendardVariable";
  font-size: 28px;
  font-weight: 600;
  line-height: 47.73px;
  border: none;
  background-color: #EDEBEB;
}

.white-box {
  width: 880px;
  height: 140px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.48px;
  padding-top: 10px;
}
.white-box2 {
  width: 880px;
  height: 420px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.48px;
  padding-top: 10px;
}


.white-box label,
.white-box2 label {
  display: block;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 30px;
}

input[type="text"]::placeholder {
  font-family: "PretendardVariable";
  color: #8E8E8E;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
}

/* 입력 필드 스타일 */
input[type="text"] {
  font-family: "PretendardVariable";
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  width: 817.36px;
  border: none;
  border-bottom: 1px dotted #000;
  outline: none;
  margin: 0 auto;
  display: block;
  text-align: left;
}

.white-box2 textarea {
  font-family: "PretendardVariable";
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  width: 817.36px;
  height: 270px;
  line-height: 25px;
  margin: 0 auto;
  display: block;
  resize: none; /* 크기 조절 금지 */
  border: 1px dotted #000;
  border-radius: 10px;
}

.character-count {
  position: relative;
  right: 4%;
  bottom: 8%;
  color: #888;
  text-align: end;
  font-family: "PretendardVariable";
  font-size: 12px;
}

.submit-title {
  margin-top: 80px;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.96px;
  text-align: center;
  display: block;
  width: 100%;
  border: none;
  background-color: #EDEBEB;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(137, 135, 135, 0.6); /* 어두운 배경 색상 및 투명도 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  width: 891px;
  height: 566px;
  background-color: #fff;
  border-radius: 38px;
  border: 1px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.popup-t {
  text-align: center;
  font-family: "DNFBitBit";
  font-size: 128px;
  font-weight: 400;
  line-height: 138.24px;
}

.popup-text {
  text-align: center;
  font-family: "PretendardVariable";
  font-size: 40px;
  font-weight: 400;
  line-height: 47.73px;
}

.popup-t2 {
  text-align: center;
  font-family: "PretendardVariable";
  font-size: 52px;
  font-weight: 600;
  line-height: 62.05px;
}

.popup-sub {
  text-align: center;
  font-family: "PretendardVariable";
  font-size: 36px;
  font-weight: 500;
  line-height: 42.96px;
}

.popup-text2 {
  text-align: center;
  font-family: "PretendardVariable";
  font-size: 24px;
  font-weight: 400;
  line-height: 28.64px;
}

.popup-submit {
  text-align: center;
  font-family: "PretendardVariable";
  font-size: 40px;
  font-weight: 600;
  line-height: 47.73px;
  letter-spacing: 4.5%;
  border: none;
  background-color: #fff;
}

.popup-close {
  position: absolute;
  top: 35px;
  right: 40px;
  width: 24px;
  height: 26.18px;
}