/* tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.homeimgBox_1 {
    width: 679px;
    height: 580px;

    top: 0;
    left: 0;

    margin-top: 72px;

    position: relative;
    vertical-align: middle;
}

.home_group19 {
    width: 679px;
    height: 580px;

    flex-shrink: 0;
}

.home-overlay-title_1 {




    position: absolute;
    top: 160px;
    left: 100px;

    color: #000;
    font-family: "DNFBitBit";
    font-size: 80px;
    font-weight: 400;
    line-height: 92.336%;

    text-align: center;
    line-height: 1.2;



}

.box_text_1 {

    font-family: "DNFBitBit";
}

.iconheart {
    position: absolute;
    top: 150px;
    left: 500px;
}

.iconstartup {
    position: absolute;
    left: 12px;
    bottom: 14px;


}


.projectgrid {
    width: 267.57px;
    height: 337px;
    border: 2px solid white;
}

.projectgrid:hover {
    cursor: pointer;
}

.yellowcursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.projectimgBox .detailLink {
    position: absolute;
    bottom: 0;
    right: 0;

    color: white;
    font-size: 2.25rem;

    font-weight: normal;
    font-family: 'Galmuri9', sans-serif;
    letter-spacing: 0.2em;


    margin-bottom: 52px;
    margin-right: 30px;
    /* tracking-widest: 1;*/
}


.detailLink:hover {
    cursor: pointer;
}





.yz {
    display: flex;
    flex-direction: column;
    position: relative;


}

.overlay-div-1 {
    position: absolute;
    display: none;

    width: 802px;
    height: 386px;

    flex-shrink: 0;


    top: 100%;
    /* 위치 조절 가능, 상단으로부터 얼마나 떨어져 나타날지 조절 */
    left: calc(141%);

    transform: translateX(-50%);
    /* left 값을 음수 마진으로 조절하여 정확한 가운데 정렬을 수행 */
    z-index: 1;
    /* 다른 요소들 위에 표시되도록 설정 */
    /*box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);*/
    /* 그림자 효과 */
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* transform 속성 추가 */
    /* 페이드 효과를 부드럽게 만들기 위한 transition 속성 추가 */

}

.yz:hover .overlay-div-1 {

    display: block;
    opacity: 1;
    /* 호버할 때 투명도를 1로 변경하여 나타나게 함 */

}





.overlay-div-2 {
    position: absolute;
    display: none;

    width: 802px;
    height: 386px;

    flex-shrink: 0;


    top: 100%;
    /* 위치 조절 가능, 상단으로부터 얼마나 떨어져 나타날지 조절 */
    left: 50%;
    /* 가운데 정렬을 위해 left 값을 50%로 설정 */
    transform: translateX(-50%);
    /* left 값을 음수 마진으로 조절하여 정확한 가운데 정렬을 수행 */
    z-index: 1;
    /* 다른 요소들 위에 표시되도록 설정 */
    /*box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);*/
    /* 그림자 효과 */
    transition: opacity 0.3s ease;
    /* 페이드 효과를 부드럽게 만들기 위한 transition 속성 추가 */

}

.yz:hover .overlay-div-2 {
    display: block;
    opacity: 1;
    /* 호버할 때 투명도를 1로 변경하여 나타나게 함 */
}

.overlay-div-3 {
    position: absolute;
    display: none;

    width: 802px;
    height: 386px;

    flex-shrink: 0;


    top: 100%;
    /* 위치 조절 가능, 상단으로부터 얼마나 떨어져 나타날지 조절 */
    right: calc(-107%);
    /* 가운데 정렬을 위해 left 값을 50%로 설정 */
    transform: translateX(-50%);
    /* left 값을 음수 마진으로 조절하여 정확한 가운데 정렬을 수행 */
    z-index: 1;
    /* 다른 요소들 위에 표시되도록 설정 */
    /*box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);*/
    /* 그림자 효과 */
    transition: opacity 0.3s ease;
    /* 페이드 효과를 부드럽게 만들기 위한 transition 속성 추가 */

}

.yz:hover .overlay-div-3 {
    display: block;
    opacity: 1;
    /* 호버할 때 투명도를 1로 변경하여 나타나게 함 */
}

.yz_container_1:hover,
.yz_conteriner_2:hover,
.yz_container_3:hover {
    cursor: pointer;
}


.part,
.curriculum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.svg1 {
    position: relative
        /* 그대로 둘 것 */
}

.content-container-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 802px;
    height: 386px;
    flex-shrink: 0;
    background-color: white;

    text-align: center;

    top: 286px;
    left: 67px;

}

.svg2 {
    position: relative
        /* 그대로 둘 것 */
}

.content-container-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 802px;
    height: 386px;
    flex-shrink: 0;
    background-color: white;

    text-align: center;

}


.svg3 {
    position: relative
        /* 그대로 둘 것 */
}

.content-container-3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 802px;
    height: 386px;
    flex-shrink: 0;
    background-color: white;

    text-align: center;

    top: 265px;
    left: 0px;

}





/* whiteboxzone */
.whiteboxzone {
    margin-top: 237px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.titleflow {
    position: relative;
    width: 350px;
    height: 69px;
    flex-shrink: 0;

    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;

    margin-top: -265px;
    margin-left: 50px;
}


.textflow {
    position: absolute;

    color: #000;
    font-family: 'Galmuri9';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;

    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: textflow 13s linear infinite;
    transform: translateY(-50%);
}

@keyframes textflow {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* recruit */
.recruit {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 200px;
}

.title1 {
    color: #000;
    font-family: "PretendardVariable";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 125px;
}

.br-gap1 {
    color: #000;
    font-family: "PretendardVariable";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sub-br {
    color: #000;
    font-family: "PretendardVariable";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* select-schedule */
.select-schedule {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title2 {
    color: #000;
    font-family: "PretendardVariable";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 125px;
}

.br-gap2 {
    color: #000;
    font-family: "PretendardVariable";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* activity-schedule */
.activity-schedule {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title3 {
    color: #000;
    font-family: "PretendardVariable";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 125px;
}

.br-gap3 {
    color: #000;
    font-family: "PretendardVariable";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.subcontentList {
    list-style-type: none;
    margin: 0;
    padding: 0;

}