/* tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.homeimgBox_1 {
    width: 679px;
    height: 580px;

    top: 0;
    left: 0;

    margin-top: 72px;
    margin-left: 86px;

    position: relative;
    vertical-align: middle;
}

.home_group19 {
    width: 679px;
    height: 580px;

    flex-shrink: 0;
}

.home-overlay-title_1 {




    position: absolute;
    top: 160px;
    left: 100px;

    color: #000;
    font-family: "DNFBitBit";
    font-size: 80px;
    font-weight: 400;
    line-height: 92.336%;

    text-align: center;
    line-height: 1.2;



}

.box_text_1 {

    font-family: "DNFBitBit";
}

.iconheart {
    position: absolute;
    top: 150px;
    left: 500px;
}

.iconstartup {
    position: absolute;
    left: 12px;
    bottom: 14px;


}


.projectgrid {
    width: 267.57px;
    height: 337px;
    border: 2px solid white;
}

.projectgrid:hover {
    cursor: pointer;
}

.yellowcursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.projectimgBox .detailLink {
    position: absolute;
    bottom: 0;
    right: 0;

    color: white;
    font-size: 2.25rem;

    font-weight: normal;
    font-family: 'Galmuri9', sans-serif;
    letter-spacing: 0.2em;


    margin-bottom: 4px;
    margin-right: 30px;
    /* tracking-widest: 1;*/
}


.detailLink:hover {
    cursor: pointer;
}





.yz {
    display: flex;
    flex-direction: column;
    position: relative;
}

.overlay-div {
    display: none;
    width: 802px;
    height: 386px;

    flex-shrink: 0;

    background-color: white;

    position: absolute;
    top: 100%;
    /* 위치 조절 가능, 상단으로부터 얼마나 떨어져 나타날지 조절 */
    left: 0;
    z-index: 1;
    /* 다른 요소들 위에 표시되도록 설정 */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* 그림자 효과 */
    transition: opacity 0.3s ease;
    /* 페이드 효과를 부드럽게 만들기 위한 transition 속성 추가 */
}

.yz:hover .overlay-div {
    display: block;
    opacity: 1;
    /* 호버할 때 투명도를 1로 변경하여 나타나게 함 */
}