.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-back{
  background-color: #EDEBEB;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0; /* 바깥 여백을 없애기 위해 설정 */
  padding: 0; /* 안쪽 여백도 없애기 위해 설정 */
  overflow: hidden; /* 내용이 화면을 벗어나지 않도록 설정 */
}

@font-face {
  font-family: "DNFBitBit";
  src: url("./font/DNFBitBit.ttf");
}
@font-face {
  font-family: "DOSI";
  src: url("./font/DOSIyagiBoldface.ttf");
}
@font-face {
  font-family: "Galmuri9";
  src: url("./font/Galmuri9.ttf");
}
@font-face {
  font-family: "PretendardVariable";
  src: url("./font/PretendardVariable.ttf");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
